body{
    background-image: url(ji1.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 900px;
}
form{
    border: none 1px black;
    width: 500px;
    background-color:none(156, 175, 226, 0.523) ;
    margin-left: 500px;
}
h1{
    text-align: center;
    color: rgb(0, 26, 0);
    font-size: 45px;
}
label{
    font-size: 25px;
    color: rgb(15, 1, 2);
    font-weight: bold;
}
input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}
button{
    height: 40px;
    width: 150px;
    background-color:none;
    color: rgb(0, 10, 18);
    font-size: 21px;
    border-radius: 30px;
}
p{
    color: rgba(234, 18, 18, 0.842);
    font-size: 80px ;
}
